<% include template/header.ejs %>

<div class="ui main text container segment">
    <div class="ui header huge segment">
            <%= blog.title %>
    </div>   
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%=blog.image%>">
        </div>
    
         <div class="description">
            <label><h3>Post</h3></label>
        <p><%=blog.body%></p>
        </div>
    </div>
</div>
<div style="text-align: center">
        <a style="margin-bottom: 1em" href="<%=blog._id%>/update" class="ui button orange inverted">Fix your shit</a>
        <form method="POST" action="/blogs/<%=blog._id%>/?_method=DELETE">
        <button class="ui button red inverted" action="submit">Kill it with fire</button>
        </form>
</div>

<% include template/footer.ejs %>
